<template>
  <!-- <HelloWorld /> -->
  <v-app>
    <div>
      <weather :places="places"></weather>
    </div>
    <v-app>
      <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" dark app fixed>
        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
          <v-toolbar-side-icon
            @click.stop="drawer = !drawer"
          ></v-toolbar-side-icon>
          <span class="hidden-sm-and-down">Weather Info</span>
        </v-toolbar-title>
        <v-text-field
          flat
          solo-inverted
          hide-details
          prepend-inner-icon="search"
          label="Search location"
          class="hidden-sm-and-down"
          v-model="search"
          @keyup.enter="searchLocation(search)"
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>apps</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>notifications</v-icon>
        </v-btn>
        <v-btn icon large>
          <v-avatar size="32px" tile>
            <img
              src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
              alt="Vuetify"
            />
          </v-avatar>
        </v-btn>
      </v-toolbar>
      <router-view></router-view>
    </v-app>
  </v-app>
</template>

<script>
import weather from "../components/Weather";
import topbar from "../components/Topbar";

export default {
  components: {
    weather,
    topbar
  },
  data() {
    return {
      places: [
        "Istanbul",
        "Berlin",
        "London",
        "Helsinki",
        "Dublin",
        "Vancouver"
      ],
      search: "",
      place: "",
      pl: []
    };
  },
  mounted() {},
  methods: {
    searchLocation(key) {
      console.log(key.length);
      if (key.length > 2) {
        this.$router.push({ path: "/search/" + key });
      }
    }
  }
};
</script>
