<template>
  <v-app id="inspire" dark>
    <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" dark app fixed>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon
          @click.stop="drawer = !drawer"
        ></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Weather Info</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="this doesnt Search work"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn icon large>
        <v-avatar size="32px" tile>
          <img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          />
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-layout align-center justify-center>
          <v-flex xs10>
            <v-progress-linear
              class="text-xs-center"
              v-if="loading"
              indeterminate
            ></v-progress-linear>
            <v-card v-else>
              <v-card-text>
                <v-container fluid grid-list-md>
                  <v-data-iterator
                    :rows-per-page-items="rowsPerPageItems"
                    :items="details[0].consolidated_weather"
                    content-tag="v-layout"
                    row
                    wrap
                  >
                    <template v-slot:header>
                      <v-toolbar class="mb-2" flat>
                        <v-toolbar-title
                          >{{ details[0].title }}
                          <span style="font-size: 13px;">{{
                            details[0].parent.title
                          }}</span></v-toolbar-title
                        >
                        <!-- <b class="pl-2">({{ details[0].parent.title }})</b> -->
                        <v-spacer></v-spacer>
                        <v-toolbar-title class="px-4">
                          {{
                            details[0].consolidated_weather[0].the_temp.toFixed(
                              2
                            )
                          }}
                          <sup>o</sup>C
                        </v-toolbar-title>
                        <v-avatar class="px-2 m-4" size="60px" tile>
                          <img
                            :src="
                              icon_url +
                                details[0].consolidated_weather[0]
                                  .weather_state_abbr +
                                img_type
                            "
                            alt="Vuetify"
                          />
                        </v-avatar>
                      </v-toolbar>
                    </template>
                    <template class="my-2" v-slot:item="props">
                      <v-flex xs12 sm6 md4 lg2>
                        <v-card>
                          <v-card-title>
                            <h4>
                              {{ getDayOfWeek(props.item.applicable_date) }}
                            </h4>
                          </v-card-title>
                          <v-divider></v-divider>
                          <v-list dense>
                            <v-list-tile>
                              <v-list-tile-content
                                >Temparature:</v-list-tile-content
                              >
                              <v-list-tile-content
                                class="align-end top-display"
                              >
                                {{ props.item.the_temp.toFixed(2) }}
                                <sup>o</sup>C
                              </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-content>Max:</v-list-tile-content>
                              <v-list-tile-content
                                class="align-end top-display"
                              >
                                {{ props.item.max_temp.toFixed(2) }}
                                <sup>o</sup>C
                              </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-content>Min :</v-list-tile-content>
                              <v-list-tile-content
                                class="align-end top-display"
                              >
                                {{ props.item.min_temp.toFixed(2) }}
                                <sup>o</sup>C
                              </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-content
                                >Air Pressure:</v-list-tile-content
                              >
                              <v-list-tile-content class="align-end top-display"
                                >{{
                                  props.item.air_pressure.toFixed(2)
                                }}
                                Hg</v-list-tile-content
                              >
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-content
                                >Wind speed:</v-list-tile-content
                              >
                              <v-list-tile-content class="align-end"
                                >{{
                                  props.item.wind_speed.toFixed(2)
                                }}
                                mi/h</v-list-tile-content
                              >
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-content
                                >Humidity:</v-list-tile-content
                              >
                              <v-list-tile-content class="align-end"
                                >{{
                                  props.item.humidity.toFixed(2)
                                }}
                                %</v-list-tile-content
                              >
                            </v-list-tile>
                            <v-list-tile>
                              <v-list-tile-content>State:</v-list-tile-content>
                              <v-list-tile-content class="align-end">
                                <v-avatar class="px-2 m-4" size="40px" tile>
                                  <img
                                    :src="
                                      icon_url +
                                        props.item.weather_state_abbr +
                                        img_type
                                    "
                                    alt="Vuetify"
                                  />
                                </v-avatar>
                              </v-list-tile-content>
                            </v-list-tile>
                          </v-list>
                        </v-card>
                      </v-flex>
                    </template>
                  </v-data-iterator>
                  <div>
                    <p>
                      Timezone:
                      {{
                        details[0].timezone_name +
                          " " +
                          getTime(details[0].time)
                      }}
                    </p>
                  </div>
                </v-container>
              </v-card-text>
              <!-- <v-card-actions>
                <v-spacer></v-spacer>
              </v-card-actions>-->
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import axios from "axios";
export default {
  name: "weather_details",
  components: {},
  data() {
    return {
      rowsPerPageItems: [6, 12],
      pagination: {
        rowsPerPage: 4
      },
      details: [],
      url: "http://localhost:80/weather.php",
      loading: true,
      img_type: ".svg",
      icon_url: "https://www.metaweather.com/static/img/weather/"
    };
  },
  created() {
    this.getDetails(this.id);
  },
  props: ["id"],
  methods: {
    getDetails(id) {
      var self = this;
      axios
        .get(this.url, {
          params: {
            command: "location",
            woeid: id
          }
        })
        .then(response => {
          self.details.push(response.data);
          this.loading = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    getDayOfWeek(date) {
      var dayOfWeek = new Date(date).getDay();
      return isNaN(dayOfWeek)
        ? null
        : [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
          ][dayOfWeek];
    },
    getTime(t) {
      var time = new Date(t).toLocaleString();
      return time;
    }
  }
};
</script>
<style>
.v-list__tile {
  padding-left: 8px;
  padding-right: 8px;
}
.top-display {
  display: -webkit-box !important;
}
.v-list--dense {
  padding-top: 4px;
  padding-bottom: 16px;
}
</style>
