<template>
  <v-app>
    <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" dark app fixed>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon
          @click.stop="drawer = !drawer"
        ></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Weather Info</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search location"
        class="hidden-sm-and-down"
        v-model="search"
        @keyup.enter="searchLocation(search)"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn icon large>
        <v-avatar size="32px" tile>
          <img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          />
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <router-view></router-view>
  </v-app>
</template>
<script>
import axios from "axios";
import Home from "../views/Home";

export default {
  name: "topbar",
  components: {
    Home
  },
  data() {
    return {
      search: "",
      places: [],
      url: "http://localhost:80/weather.php",
      detail: []
    };
  },
  methods: {
    searchLocation(key) {
      this.places.push(key);
      this.$router.push({ path: "/search/" + key });
    }
  }
};
</script>
