<template>
  <v-app dark id="weather">
    <v-content>
      <v-container fluid>
        <v-layout row justify-center></v-layout>
        <v-layout justify-center align-center>
          <v-progress-linear
            class="text-xs-center"
            v-if="loading"
            indeterminate
            color="primary"
          ></v-progress-linear>
          <v-data-table
            v-else
            :headers="headers"
            :items="fullDetails"
            class="elevation-3 mt-5"
          >
            <template slot="items" slot-scope="props">
              <tr @click="editItem(props.item)">
                <td class="text-xs-center">{{ props.item.title }}</td>
                <td class="text-xs-center">
                  {{ props.item.consolidated_weather[0].the_temp.toFixed(2) }}
                </td>
                <td class="text-xs-center">
                  {{ props.item.consolidated_weather[0].max_temp.toFixed(2) }}
                </td>
                <td class="text-xs-center">
                  {{ props.item.consolidated_weather[0].min_temp.toFixed(2) }}
                </td>
                <td class="text-xs-center">
                  <img
                    :src="
                      icon_url +
                        props.item.consolidated_weather[0].weather_state_abbr +
                        img_type
                    "
                    alt
                    srcset
                  />
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import axios from "axios";
export default {
  name: "weather",
  components: {},
  props: ["places"],
  created() {
    // console.log(Array.isArray(this.places));
    if (!Array.isArray(this.places)) {
      this.details = [this.places];
    } else {
      this.details = this.places;
    }
    this.getWeatherData();
  },
  data() {
    return {
      details: [],
      fullDetails: [],
      detail: [],
      url: "http://localhost:80/weather.php",
      loading: true,
      img_type: ".svg",
      headers: [
        { text: "city", align: "left", value: "city" },
        {
          text: "temperature ",
          align: "left",
          value: "temparature"
        },
        {
          text: "maximum temperature",
          align: "left",
          value: "max_temparature"
        },
        {
          text: "minimum temperature",
          align: "left",
          value: "min_temparature"
        },
        { text: "weather", align: "left", value: "name" }
      ],
      count: 1,
      icon_url: "https://www.metaweather.com/static/img/weather/"
    };
  },
  methods: {
    getWeatherData() {
      for (let index = 0; index < this.details.length; index++) {
        const params = {
          command: "search",
          keyword: this.details[index]
        };
        var self = this;
        axios
          .get(this.url, { params })
          .then(response => {
            // console.log(response.data.length === 0);
            if (response.data.length === 0) {
              this.loading = false;
              return;
            }
            self.detail = response.data;
            // console.log(self.detail);
            for (let i = 0; i < self.detail.length; i++) {
              axios
                .get(this.url, {
                  params: {
                    command: "location",
                    woeid: this.detail[i].woeid
                  }
                })
                .then(response => {
                  self.fullDetails.push(response.data);
                  this.count++;
                  if (this.count > this.details.length * self.detail.length) {
                    this.loading = false;
                  }
                })
                .catch(err => {
                  console.log(err);
                });
            }
          })
          .catch(function(err) {
            console.log(err);
          });
      }
    },
    editItem(prop) {
      this.$router.push({ path: "/weather/" + prop.woeid });
    }
  }
};
</script>
